.feed {
    width: 50%;
    height: 100vh;
    max-width: 960px;
}

/* Responsive Design */

@media only screen and (min-width: 320px) and (max-width: 480px){

    .feed{
        width: 100%;
        /* position: absolute;
        left: 0%; 
        right: 0%; */
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .feed {
        width: 50%;
        /* position: absolute;
        left: 0%;
        right: 0%; */
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .feed {
        width: 90%;
        position: absolute;
        left: 40%;
    }
}