.leftbar{
    flex: 5;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}
.leftbar .left{
    padding: 3em 5em;
}
.leftbar .left .box{
    background-color: var(--gray10);
    border: 1px solid var(--gray10);
    width: 100%;
    height: 53vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.leftbar .left .box .top .images{
    position: relative;
}
.leftbar .left .box .top .images .dp{
    width: 30%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    border: 1px solid var(--gray10);
    left: 35%;
}
.leftbar .left .box .top .images .bg {
    width: 236px;
    height: 80px;
    object-fit: cover;
    /* margin: em; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.leftbar .left .box .top .txt{
    margin-top: 4em;
}
.leftbar .left .box .top .txt h2{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.leftbar .left .box .top .txt p{
    font-size: 15px;
    font-weight: 400;
    color: var(--gray3);
    text-align: center;
}

.leftbar .left .box .mid .stats{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    border-top: .1px solid #dce6f1;
    border-bottom: .1px solid #dce6f1;
}
.leftbar .left .box .mid .stats .align{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.leftbar .left .box .mid .stats .align:hover{
    background-color: var(--gray9);
}
.leftbar .left .box .mid .stats .align a{
    font-size: 13px;
    font-weight: 600;
    color: var(--gray4);
    text-decoration: none;
    text-align: justify;
    padding-left: 2%;
}
.leftbar .left .box .mid .stats .align p{
    font-size: 13px;
    font-weight: 600;
    color: var(--blu4);
    padding-right: 2%;
}
.leftbar .left .box .mid .s{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftbar .left .box .mid .s:hover {
    background-color: var(--gray9);
}
.leftbar .left .box .mid .s p{
    font-size: 14px;
    padding: 0 2%;
    margin-bottom: 0;
}
.leftbar .left .box .mid .s .lk{
    display: flex;
    padding-left: 2%;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1px solid #dce6f1;
}
.leftbar .left .box .mid .s .sm-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: var(--o);
    border: 1px solid var(--o);
}
.leftbar .left .box .mid .s .lk a {
    font-size: 15px;
    padding: 0 2% 1% 2%;
    color: var(--gray3);
    font-weight: 600;
}

.leftbar .left .box .btm{
    display: flex;
    align-items: center;
    padding-left: 2%;
}
.leftbar .left .box .btm i{
    color: var(--gray3);
    padding-left: 3%;
}
.leftbar .left .box .btm p{
    color: var(--gray3);
    padding-left: 3%;
    font-size: 14px;
    font-weight: 600;
}

.leftbar .right{
    position: fixed;
    top: 57%;
}
.leftbar .right .box {
    background-color: var(--gray10);
    border: 1px solid var(--gray10);
    width: 100%;
    height: 35vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.leftbar .right .box .recent{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.leftbar .right .box .recent:hover{
    background-color: var(--gray9);
}
.leftbar .right .box .groups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.leftbar .right .box .events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}