

body{
    font-size: 16px;
    font-family: var(--av), sans-serif;
}
.topbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: var(--gray10);
    border-bottom: .1px solid var(--gray5);
    color: var(--w);
    height: 52px;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topbar .left{ 
    width: 42%;
}
.topbar .left .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar .left .container .fa-linkedin{
    font-size: 40px;
}
.topbar .left .container .search{
    margin-left: .5em;
    width: 30%;
    background-color: var(--blu);
    border-radius: 6px;
    padding: 0em 5em 0em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar .left .container .search input{
    padding: .7em 1em;
    border: none;
    background-color: transparent;
    font-size: .8em;
    color: var(--w);
}
.topbar .left .container .search input::placeholder{
    color: var(--w);
}
.topbar .left .container .search input:focus{
    outline: none;
}
.topbar .left .container .fa-magnifying-glass{
    color: var(--w);
    font-size: 17px;
    margin-left: 1%;
}

.topbar .right{
    width: 58%;
    display: flex;
}
.topbar .right .l{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: .1px solid var(--w);
}
.topbar .right .l .content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--gray3);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}
.topbar .right .l .content .notif{
    position: absolute;
    top: -5%;
    right: -5%;
    background-color: var(--cr);
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
.topbar .right .l .content .notif .inner{
    background-color: var(--w);
    width: 7px;
    height: 7px;
    margin: .3em;
    border-radius: 50%;
    justify-content: center;
}
.topbar .right .l .content:hover{
    color: var(--w);
}
.topbar .right .l .content:first-child::after{
    content: '';
    background-color: var(--w);
    border-radius: 10px;
    width: 200%;
    height: 2px;
    display: block;
    transition: all .3s ease;
    margin-top: 15%;
    margin-bottom: -18%;
}

.topbar .right .l .content i{
    font-size: 20px;
}
.topbar .right .l .account{
    display: flex;
    margin-right: 30px;
}
.topbar .right .l .account a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--w);
    text-decoration: none;
}
.topbar .right .l .account img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}


.topbar .right .r{
    width: 30%;
    display: flex;
    align-items: center;
}
.topbar .right .r .content{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.topbar .right .r .links{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.topbar .right .r .links a{
    font-size: 14px;
    font-weight: 300;
    color: var(--yel);
}