:root {
  /* Colors */
  --w: #ffffff;
  --blk: rgba(0, 0, 0, 1);
  --blk2: #000000;
  --blu: #3c4853;
  --yel: orange;
  --blu2: #70b5f9;
  --blu3: #09223b;
  --blu4: #0073b1;
  --blu5: #006097;
  --blu6: #06c;
  --gray: #f9fafb;
  --gray2: #eef3f8;
  --gray3: #dce6f1;
  --gray4: #c0d1e2;
  --gray5: #9db3c8;
  --gray6: #788fa5;
  --gray7: #56687a;
  --gray8: #38434f;
  --gray9: #293138;
  --gray10: #1d2226;
  --gray11: #fafaf9;
  --cr: crimson;
  --r:#fc9295; 
  --r2: #f55257;
  --o: orange;
  --g: #7ce3b3;
  --g2: #3ec786;
  --g3: #13a05f;
  --g4: #057642;
  --g5: #004d2a;
  --g6: #022716;
  --am: #f8c77e;
  --am2: #e7a33e;
  --am3: #c37d16;
  --am4: #915907;
  

  /* Fonts */
  --av: 'Avenir';
}

body{
  background: #000;
}

.max-width{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: #fff;
  padding: 70px 100px;
}
.app{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Design */

@media only screen and (min-width: 320px) and (max-width: 480px){
  .app{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .app {
    display: flex;
  }
}
