.rightbar{
    flex: 6;
    height: 100vh;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightbar .box{
    background-color: var(--gray10);
    border-radius: 10px;
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.rightbar .box .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightbar .box .header h3{
    font-size: 15px;
    color: var(--gray3);
    font-weight: 600;
    margin-left: 3%;
}
.rightbar .box .header a{
    text-decoration: none;
    margin-right: 3%;
}
.rightbar .box .header a i{
    font-size: 15px;
    color: var(--gray3);
}
.rightbar .box .list{
    list-style: none;
}
.rightbar .box .list .content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.rightbar .box .list .content .left img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.rightbar .box .list .content .right .first{
   font-size: 15px;
   font-weight: 600;
   color: var(--gray3);
}
.rightbar .box .list .content .right .second {
    font-size: 14px;
    color: var(--gray5);
    font-weight: 400;
}
.rightbar .box .list .content .right .follow{
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    padding: 10px 15px;
    height: 20px;
    border: 1px solid var(--gray4);
    color: var(--gray4);
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
}
.rightbar .box .list .content .right .follow:hover{
    background-color: var(--gray9);
}
.rightbar .box .bottom{
    margin: 5%;
}
.rightbar .box .bottom a{
    padding: 1%;
    font-size: 14px;
    color: var(--gray3);
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
}
.rightbar .box .bottom a:hover{
    background-color: var(--gray8);
}

.rightbar .down{
    position: sticky;
    background-color: var(--gray10);
    margin-top: 3%;
    border-radius: 10px;
}
.rightbar .down .head{
    text-align: right;
    margin-top: 5px;
}
.rightbar .down .head a{
    font-size: 14px;
    font-weight: 600;
    color: var(--w);
    text-decoration: none;
    margin-right: 13px;
}
.rightbar .down p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 2px;
}
.rightbar .down .mid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightbar .down .mid img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10%;
}
.rightbar .down .mid abbr{
    background-color: var(--w);
}
.rightbar .down .mid i{
    background-color: var(--w);
    font-size: 70px;
    margin-left: 10%;
    color: var(--am2);
}
.rightbar .down .end{
    margin-left: 35%;
    margin-bottom: 2%;
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--blu2);
    color: var(--blu2);
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.rightbar .footer{
    margin-top: 1%;
}
.rightbar .footer .row{
    margin-top: 1.3%;
    text-align: center;
}
.rightbar .footer .row a{
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: var(--gray4);
    margin-left: 10px;
}
.rightbar .footer .copyright p{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.rightbar .messages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray10);
    width: 25%;
    border-top-left-radius: 10px;
    cursor: pointer;
    margin-left: 65%;
    margin-top: 7%;
    position: fixed;
    top: 82%;
    right: 0;
    padding: 0 6px;
}
.rightbar .messages:hover{
    background-color: var(--gray9);
}
.rightbar .messages .first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.rightbar .messages .first img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12%;
}
.rightbar .messages .first .circle{
    position: absolute;
    top: 55%;
    right: 67%;
    border: 1px solid var(--gray10);
    content: '';
    background-color: var(--g2);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.rightbar .messages .first p {
    font-weight: 600;
    margin-left: 8%;
}
.rightbar .messages .second{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rightbar .messages .second svg{
    margin-left: 16px;
    padding: 5px;
}
.rightbar .messages .second svg:hover{
    background-color: var(--gray8);
    border-radius: 50%;
}